Repository ConservationInternational/resilienceatlas, pull requests merged in 2023-04, with the labels that each got.

#128 Production auto deploy
  .github/workflows/backend_ci_cd.yml
  .github/workflows/frontend_ci_cd.yml
Labels: backend, frontend

#117 Remove node dependency in BE deploy
  backend/Capfile
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/deploy.rb
Labels: backend

#119 Replaced deprecated set-output with $GITHUB_OUTPUT
  .github/workflows/backend_ci_cd.yml
  .github/workflows/frontend_ci_cd.yml
Labels: backend

#131 Install transifex
  frontend/.env.example
  frontend/README.md
  frontend/config/deploy.rb
  frontend/cypress/e2e/translations.cy.js
  frontend/cypress/support/commands.js
  frontend/package.json
  frontend/public/images/svg-icons/language.svg
  frontend/src/pages/_app.tsx
  frontend/src/pages/about.tsx
  frontend/src/pages/journeys/index.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/me.tsx
  frontend/src/pages/profile-settings.tsx
  frontend/src/pages/register.tsx
  frontend/src/pages/shinny-app.tsx
  frontend/src/utilities/routeParams.ts
  frontend/src/views/components/LanguageSwitcher/LanguageSwitcher.component.tsx
  frontend/src/views/components/LanguageSwitcher/LanguageSwitcher.container.ts
  frontend/src/views/components/LanguageSwitcher/index.ts
  frontend/src/views/components/Map/Map.component.jsx
  frontend/src/views/components/PredictiveModels/PredictiveModels.component.jsx
  frontend/src/views/components/PrivacyBanner/NoticeContent/NoticeContent.component.tsx
  frontend/src/views/components/Sidebar/Sidebar.component.jsx
  frontend/src/views/layouts/_footer.tsx
  frontend/src/views/layouts/_header/component.jsx
  frontend/src/views/styles/layouts/_l-header.scss
  frontend/yarn.lock
Labels: frontend

#133 RA2-24: Fixes of journeys at Admin
  backend/app/assets/stylesheets/active_admin.css.scss
  backend/app/models/category.rb
  backend/app/models/indicator.rb
  backend/app/models/journey.rb
  backend/app/models/journey_step.rb
  backend/app/models/layer.rb
  backend/app/models/layer_group.rb
  backend/app/models/map_menu_entry.rb
  backend/app/models/model.rb
  backend/app/models/site_page.rb
  backend/app/models/site_scope.rb
  backend/app/models/source.rb
  backend/app/views/admin/journeys/_form.html.slim
  backend/spec/fixtures/snapshots/api/v1/get_journey.json
  backend/spec/fixtures/snapshots/api/v1/get_site_scope.json
  backend/spec/fixtures/snapshots/api/v1/models.json
  backend/spec/fixtures/snapshots/api/v1/site_scopes.json
  backend/spec/models/journey_spec.rb
Labels: backend

#139 fixed critical vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#138 Feature/legend-layer-citations
  frontend/cypress/e2e/map.cy.js
  frontend/src/state/modules/layers/selectors.js
  frontend/src/state/schema.js
  frontend/src/views/components/Legend/Legend.component.jsx
  frontend/src/views/styles/modules/_m-legend.scss
Labels: frontend

#142 added tour on the map
  frontend/cypress/e2e/map.cy.js
  frontend/package.json
  frontend/src/constants/tour-steps.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/map.tsx
  frontend/src/views/components/MapTour/Badge.tsx
  frontend/src/views/components/MapTour/Navigation.tsx
  frontend/src/views/components/MapTour/index.ts
  frontend/src/views/styles/index.scss
  frontend/src/views/styles/modules/_m-map-tour.scss
  frontend/yarn.lock
Labels: frontend

#136 Journeys feedback
  frontend/public/fonts/ITCFranklinGothicLTCom-Heavy.ttf
  frontend/public/fonts/ITCFranklinGothicLTCom-Heavy.woff
  frontend/public/fonts/ITCFranklinGothicLTCom-Heavy.woff2
  frontend/src/pages/index.tsx
  frontend/src/utilities/helpers.js
  frontend/src/views/components/Journey/Chapter/component.tsx
  frontend/src/views/components/Journey/Conclusion/component.tsx
  frontend/src/views/components/Journey/Controls.tsx
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Journey.component.tsx
  frontend/src/views/components/Journey/Journey.container.js
  frontend/src/views/components/Journey/StaticControls.tsx
  frontend/src/views/components/JourneySlider/JourneySlider.component.tsx
  frontend/src/views/components/JourneySlider/JourneySlider.container.js
  frontend/src/views/components/JourneySlider/index.js
  frontend/src/views/components/Legend/Legend.component.jsx
  frontend/src/views/layouts/embed.tsx
  frontend/src/views/styles/_variables.scss
  frontend/src/views/styles/modules/_buttons.scss
  frontend/src/views/styles/modules/_m-controls.scss
  frontend/src/views/styles/modules/_m-journey-chapter.scss
  frontend/src/views/styles/modules/_m-journey-conclusion.scss
  frontend/src/views/styles/modules/_m-slider.scss
Labels: frontend

#150 feat: BE models and administration for static pages (About page)
  backend/Gemfile.lock
  backend/app/admin/static_page.rb
  backend/app/assets/stylesheets/active_admin.css.scss
  backend/app/javascript/admin/has_many_collapsable.js
  backend/app/models/homepage_section.rb
  backend/app/models/static_page.rb
  backend/app/models/static_page/base.rb
  backend/app/models/static_page/section.rb
  backend/app/models/static_page/section_item.rb
  backend/app/models/static_page/section_paragraph.rb
  backend/app/models/static_page/section_reference.rb
  backend/app/views/admin/homepages/_form.html.slim
  backend/app/views/admin/journeys/_form.html.slim
  backend/app/views/admin/layers/_form.html.slim
  backend/app/views/admin/site_pages/_form.html.slim
  backend/app/views/admin/static_page_bases/_form.html.slim
  backend/app/views/admin/static_page_bases/_section_items.html.slim
  backend/app/views/admin/static_page_bases/_section_paragraph.html.slim
  backend/app/views/admin/static_page_bases/_section_references.html.slim
  backend/config/initializers/inflections.rb
  backend/config/locales/en.yml
  backend/db/migrate/20230413084830_create_static_page_bases.rb
  backend/db/migrate/20230413085620_create_static_page_sections.rb
  backend/db/migrate/20230413095128_create_static_page_section_items.rb
  backend/db/migrate/20230413153128_create_static_page_section_paragraphs.rb
  backend/db/migrate/20230413154821_create_static_page_section_references.rb
  backend/db/schema.rb
  backend/spec/factories/static_page/bases.rb
  backend/spec/factories/static_page/section_items.rb
  backend/spec/factories/static_page/section_paragraphs.rb
  backend/spec/factories/static_page/section_references.rb
  backend/spec/factories/static_page/sections.rb
  backend/spec/models/static_page/base_spec.rb
  backend/spec/models/static_page/section_item_spec.rb
  backend/spec/models/static_page/section_paragraph_spec.rb
  backend/spec/models/static_page/section_reference_spec.rb
  backend/spec/models/static_page/section_spec.rb
  backend/spec/systems/admin/static_pages_spec.rb
Labels: backend

#155 fix: Check if blob is variable before calling variant
  backend/app/services/blobs/get_link.rb
  backend/app/views/admin/shared/_image_with_thumbnail.html.slim
  backend/app/views/admin/shared/_preview.html.slim
Labels: backend

#157 fix: API fetches translations in way that allows fallback to english
  backend/app/controllers/api/v1/menu_entries_controller.rb
  backend/app/controllers/api/v1/models_controller.rb
  backend/app/controllers/api/v1/sites_controller.rb
  backend/app/models/category.rb
  backend/app/models/indicator.rb
  backend/app/models/layer.rb
  backend/app/models/layer_group.rb
Labels: backend

#153 Dynamic content translations
  frontend/cypress/support/commands.js
  frontend/server-side-translations/server-side-translation-content.json
  frontend/src/state/modules/layer_groups/actions.js
  frontend/src/state/modules/layer_groups/reducer.js
  frontend/src/state/modules/layers/actions.js
  frontend/src/state/modules/layers/reducer.js
  frontend/src/state/modules/map_menu_entries/actions.js
  frontend/src/state/modules/map_menu_entries/reducer.js
  frontend/src/state/modules/predictive_models/actions.js
  frontend/src/state/modules/predictive_models/reducer.js
  frontend/src/state/modules/site/actions.js
  frontend/src/state/modules/site/reducer.js
  frontend/src/state/modules/sources/actions.js
  frontend/src/state/modules/sources/index.js
  frontend/src/utilities/helpers.js
  frontend/src/views/components/Legend/Legend.container.js
  frontend/src/views/components/Map/Map.component.jsx
  frontend/src/views/components/PredictiveModels/PredictiveModels.component.jsx
  frontend/src/views/components/PredictiveModels/PredictiveModels.container.js
  frontend/src/views/components/Sidebar/Sidebar.component.jsx
  frontend/src/views/components/Sidebar/Sidebar.container.js
  frontend/src/views/layouts/_header/component.jsx
  frontend/src/views/layouts/_header/index.js
  frontend/src/views/layouts/embed.tsx
  frontend/src/views/layouts/fullscreen.tsx
  frontend/src/views/layouts/main.tsx
  frontend/src/views/layouts/report.tsx
  frontend/src/views/styles/modules/_m-sidebar.scss
Labels: frontend

#146 RA2-138: Homepages (FE part)
  frontend/.gitignore
  frontend/cypress/e2e/home.cy.js
  frontend/cypress/support/commands.js
  frontend/src/pages/index.tsx
  frontend/src/state/modules/homepage/actions.js
  frontend/src/state/modules/homepage/index.js
  frontend/src/state/modules/homepage/reducer.js
  frontend/src/state/modules/index.js
  frontend/src/types/homepage.d.ts
  frontend/src/views/components/HomepageSections/HomepageSections.component.tsx
  frontend/src/views/components/HomepageSections/HomepageSections.container.js
  frontend/src/views/components/HomepageSections/Intro/Intro.component.tsx
  frontend/src/views/components/HomepageSections/Intro/Intro.container.js
  frontend/src/views/components/HomepageSections/Intro/index.ts
  frontend/src/views/components/HomepageSections/Journeys/Journeys.component.tsx
  frontend/src/views/components/HomepageSections/Journeys/Journeys.container.js
  frontend/src/views/components/HomepageSections/Journeys/index.ts
  frontend/src/views/components/HomepageSections/Section/Section.component.tsx
  frontend/src/views/components/HomepageSections/Section/Section.container.js
  frontend/src/views/components/HomepageSections/Section/index.ts
  frontend/src/views/components/HomepageSections/index.js
  frontend/src/views/components/JourneySlider/JourneySlider.component.tsx
  frontend/src/views/styles/index.scss
  frontend/src/views/styles/modules/_m-article.scss
  frontend/src/views/styles/modules/_m-explore.scss
  frontend/src/views/styles/modules/_m-home-about.scss
  frontend/src/views/styles/modules/_m-home-intro.scss
  frontend/src/views/styles/modules/_m-home-journeys.scss
  frontend/src/views/styles/modules/_m-home-section.scss
  frontend/src/views/styles/modules/_m-slider.scss
  frontend/src/views/styles/modules/_m-welcome.scss
  frontend/src/views/utils/index.js
  frontend/tsconfig.tsbuildinfo
Labels: frontend

#158 RA2-200: Adding description to Layer serializer and reference to Source serializer
  backend/app/serializers/layer_serializer.rb
  backend/app/serializers/source_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/layers.json
  backend/spec/requests/api/v1/layers_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: backend

#159 Fetch journeys translation
  frontend/cypress/e2e/journeys-detail.cy.js
  frontend/cypress/support/commands.js
  frontend/src/state/modules/journey/reducer.js
  frontend/src/state/modules/journeys/actions.js
  frontend/src/state/modules/journeys/reducer.js
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Embed/Embed.container.js
  frontend/src/views/components/Journey/Journey.component.tsx
  frontend/src/views/components/JourneysIntrolist/JourneysIntrolist.component.tsx
  frontend/src/views/components/JourneysIntrolist/JourneysIntrolist.container.js
  frontend/src/views/components/ShareModal/ShareModal.component.tsx
Labels: frontend

#161 refactoring: returning back raster layer provider
  backend/app/views/admin/layers/_form.html.slim
Labels: backend

#163 Dynamic translation of the homepage
  frontend/cypress/e2e/home.cy.js
  frontend/cypress/support/commands.js
  frontend/src/state/modules/homepage/actions.js
  frontend/src/state/modules/homepage/reducer.js
  frontend/src/state/modules/journeys/actions.js
  frontend/src/state/modules/map_menu_entries/actions.js
  frontend/src/state/modules/predictive_models/actions.js
  frontend/src/state/modules/site/actions.js
  frontend/src/state/utils/api.ts
  frontend/src/views/components/HomepageSections/HomepageSections.component.tsx
  frontend/src/views/components/HomepageSections/HomepageSections.container.js
  frontend/src/views/components/JourneySlider/JourneySlider.component.tsx
  frontend/src/views/components/JourneySlider/JourneySlider.container.js
  frontend/src/views/utils/index.js
Labels: frontend

#164 RA2-210: Allow to delete Layer Groups with agrupations
  backend/app/models/layer_group.rb
  backend/app/models/pdf_file.rb
  backend/spec/requests/api/v1/layers_spec.rb
  backend/spec/systems/admin/layer_groups_spec.rb
Labels: backend

#166 Fix atlas subdomain redirects
  frontend/README.md
  frontend/src/middleware.ts
  frontend/src/utilities/getSubdomain.ts
  frontend/src/views/components/Map/Toolbar/SearchArea/SearchArea.component.tsx
Labels: frontend

#167 adds test to verify subdomain redirect
  frontend/cypress.config.js
  frontend/cypress/e2e/url.cy.js
Labels: frontend

#171 Feature/RA2-164/dynamic-about-page
  frontend/cypress/e2e/about.cy.js
  frontend/cypress/support/commands.js
  frontend/package.json
  frontend/server-side-translations/server-side-translation-content.json
  frontend/src/pages/about.tsx
  frontend/src/state/modules/about/actions.js
  frontend/src/state/modules/about/index.js
  frontend/src/state/modules/about/reducer.js
  frontend/src/state/modules/index.js
  frontend/src/types/about.d.ts
  frontend/src/views/components/AboutSections/AboutSections.component.tsx
  frontend/src/views/components/AboutSections/AboutSections.container.js
  frontend/src/views/components/AboutSections/Intro/Intro.component.tsx
  frontend/src/views/components/AboutSections/Intro/Intro.container.js
  frontend/src/views/components/AboutSections/Intro/index.js
  frontend/src/views/components/AboutSections/Nav/Nav.component.tsx
  frontend/src/views/components/AboutSections/Nav/index.js
  frontend/src/views/components/AboutSections/index.js
  frontend/src/views/components/CustomHtmlRenderer/CustomHtmlRenderer.component.tsx
  frontend/src/views/components/CustomHtmlRenderer/index.ts
  frontend/src/views/styles/layouts/_l-header.scss
  frontend/src/views/styles/modules/_m-section-nav.scss
  frontend/src/views/styles/modules/_m-static-page.scss
  frontend/yarn.lock
Labels: frontend

#175 Feature/tiagos titiler terraform script
  .github/workflows/titiler_cogs.yaml
  cloud_functions/titiler_cogs/template.yaml
  infrastructure/base/main.tf
  infrastructure/base/modules/github_secrets/variables.tf
  infrastructure/base/modules/github_values/main.tf
  infrastructure/base/modules/github_values/variables.tf
  infrastructure/base/variables.tf
Labels: infrastructure
