Repository ConservationInternational/resilienceatlas, pull requests merged in 2023-03, with the labels that each got.

#88 chore: Updating cancan gem and enabling activeadmin-globalize
  backend/CHANGELOG.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/admin/layer_group.rb
  backend/app/assets/stylesheets/active_admin.css.scss
  backend/app/javascript/active_admin.js
  backend/app/javascript/application.js
  backend/app/models/ability.rb
  backend/app/models/layer.rb
  backend/app/models/layer_group.rb
  backend/app/views/layouts/active_admin_logged_out.html.erb
Labels: backend

#92 test: Rest of the system tests for other CRUD actions
  backend/spec/systems/admin/admin_users_spec.rb
  backend/spec/systems/admin/auth_spec.rb
  backend/spec/systems/admin/categories_spec.rb
  backend/spec/systems/admin/indicators_spec.rb
  backend/spec/systems/admin/languages_spec.rb
  backend/spec/systems/admin/layer_groups_spec.rb
  backend/spec/systems/admin/layers_spec.rb
  backend/spec/systems/admin/map_menu_entries_spec.rb
  backend/spec/systems/admin/models_spec.rb
  backend/spec/systems/admin/site_pages_spec.rb
  backend/spec/systems/admin/site_scopes_spec.rb
  backend/spec/systems/admin/sources_spec.rb
  backend/spec/systems/admin/user_downloads_spec.rb
  backend/spec/systems/admin/users_spec.rb
Labels: backend

#84 Integrating cypress for e2e test
  .github/workflows/frontend_test.yml
  frontend/.eslintrc
  frontend/.gitignore
  frontend/.nvmrc
  frontend/Dockerfile
  frontend/README.md
  frontend/cypress.config.js
  frontend/cypress/e2e/about.cy.js
  frontend/cypress/e2e/home.cy.js
  frontend/cypress/e2e/journeys-detail.cy.js
  frontend/cypress/e2e/journeys.cy.js
  frontend/cypress/e2e/map.cy.js
  frontend/cypress/e2e/navigation.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/docker-compose.yml
  frontend/package.json
  frontend/server.js
  frontend/src/state/modules/layers/selectors.js
  frontend/src/utilities/getSubdomain.js
  frontend/src/views/components/LayersList/Layer/Layer.container.js
  frontend/yarn.lock
Labels: frontend

#98 Add more cases to the journey end-to-end test
  .github/workflows/frontend_test.yml
  frontend/cypress/e2e/journeys-detail.cy.js
Labels: frontend

#95 RA2-24 -- Journeys administration
  backend/.env.sample
  backend/.gitignore
  backend/CHANGELOG.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/admin/journey.rb
  backend/app/assets/stylesheets/active_admin.css.scss
  backend/app/assets/stylesheets/admin/has_many_collapsable.css.scss
  backend/app/controllers/api/v1/journeys_controller.rb
  backend/app/javascript/active_admin.js
  backend/app/javascript/admin/has_many_collapsable.js
  backend/app/javascript/admin/has_many_dynamic_fields.js
  backend/app/models/journey.rb
  backend/app/models/journey_step.rb
  backend/app/models/layer_group.rb
  backend/app/serializers/concerns/blob_serializer.rb
  backend/app/serializers/journey_serializer.rb
  backend/app/serializers/journey_step_serializer.rb
  backend/app/serializers/layer_group_serializer.rb
  backend/app/services/blobs/get_link.rb
  backend/app/validators/url_validator.rb
  backend/app/views/admin/journeys/_field_section.html.slim
  backend/app/views/admin/journeys/_form.html.slim
  backend/app/views/admin/shared/_color.html.slim
  backend/app/views/admin/shared/_image_with_thumbnail.html.slim
  backend/app/views/admin/shared/_preview.html.slim
  backend/config/application.rb
  backend/config/environments/production.rb
  backend/config/initializers/active_storage.rb
  backend/config/storage.yml
  backend/db/migrate/20230308081843_create_journeys.rb
  backend/db/migrate/20230308085947_create_journey_steps.rb
  backend/db/migrate/20230313110633_add_published_to_journey.rb
  backend/db/schema.rb
  backend/public/journeys/1.json
  backend/public/journeys/2.json
  backend/public/journeys/3.json
  backend/public/journeys/4.json
  backend/public/journeys/5.json
  backend/public/journeys/example.json
  backend/public/journeys/journeysPageIndex.json
  backend/public/storage/.keep
  backend/spec/factories/admin_users.rb
  backend/spec/factories/journey_steps.rb
  backend/spec/factories/journeys.rb
  backend/spec/factories/layer_groups.rb
  backend/spec/fixtures/snapshots/api/v1/get_journey.json
  backend/spec/fixtures/snapshots/api/v1/journeys.json
  backend/spec/models/journey_spec.rb
  backend/spec/models/journey_step_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/api/v1/journeys_spec.rb
  backend/spec/services/blobs/get_link_spec.rb
  backend/spec/systems/admin/auth_spec.rb
  backend/spec/systems/admin/journeys_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: backend

#102 RA2-67: Ensuring that localisation over API works
  backend/app/models/journey.rb
  backend/app/models/journey_step.rb
  backend/app/models/layer.rb
  backend/app/models/layer_group.rb
  backend/config/application.rb
  backend/config/environments/production.rb
  backend/spec/requests/api/v1/journeys_spec.rb
  backend/spec/requests/api/v1/layer_groups_spec.rb
  backend/spec/requests/api/v1/layers_spec.rb
  backend/swagger/v1/swagger.yaml
Labels: backend

#103 RA2-106: Removing Germany and Italy from available locales
  backend/CHANGELOG.md
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/application.rb
Labels: backend

#101 Improve the documentation of the README file
  frontend/README.md
Labels: frontend

#107 Mocking journeys
  .github/workflows/frontend_ci_cd.yml
  frontend/cypress/e2e/journeys-detail.cy.js
  frontend/cypress/e2e/map.cy.js
  frontend/cypress/support/commands.js
  frontend/public/static-journeys/1.json
  frontend/public/static-journeys/2.json
  frontend/public/static-journeys/3.json
  frontend/public/static-journeys/4.json
  frontend/public/static-journeys/5.json
  frontend/public/static-journeys/journeysPageIndex.json
  frontend/src/pages/map.tsx
  frontend/src/state/modules/journeys/actions.js
  frontend/src/state/modules/layers/actions.js
  frontend/tsconfig.tsbuildinfo
Labels: frontend

#104 Update deployment script for FE application
  .github/workflows/frontend_ci_cd.yml
  frontend/.gitignore
  frontend/.ruby-version
  frontend/Capfile
  frontend/Gemfile
  frontend/Gemfile.lock
  frontend/README.md
  frontend/config/deploy.rb
  frontend/config/deploy/staging.rb
  frontend/index.js
  frontend/next.config.js
Labels: frontend

#110 fixed and updated docker integration for the client
  frontend/Dockerfile
  frontend/docker-compose.yml
Labels: frontend

#113 fixed capistrano deploy script in gh-action
  .github/workflows/frontend_ci_cd.yml
  frontend/Capfile
  frontend/config/deploy/staging.rb
Labels: frontend

#115 Added storage and uploads to capistrano linked_dirs
  backend/config/deploy.rb
  backend/config/deploy/production.rb
  backend/config/deploy/staging.rb
Labels: backend

#112 feat: Adding FE link to journey detail
  backend/.env.sample
  backend/app/admin/journey.rb
  backend/spec/systems/admin/journeys_spec.rb
Labels: backend

#120 refactoring: Journey Step of embed type have title and subtitle attributes
  backend/app/models/journey_step.rb
  backend/db/data/journeys.rb
  backend/spec/fixtures/snapshots/api/v1/get_journey.json
  backend/spec/systems/admin/journeys_spec.rb
Labels: backend

#121 refactoring: Order Steps inside Journey API by position
  backend/app/serializers/journey_serializer.rb
  backend/spec/fixtures/snapshots/api/v1/get_journey.json
  backend/spec/requests/api/v1/journeys_spec.rb
Labels: backend

#114 Add privacy banner
  frontend/cypress/e2e/analytics.cy.js
  frontend/src/pages/_app.tsx
  frontend/src/pages/_document.tsx
  frontend/src/utilities/ga.js
  frontend/src/utilities/hooks/useCookiesConsent.ts
  frontend/src/utilities/hooks/useSyncedState.ts
  frontend/src/views/components/PrivacyBanner/NoticeContent/NoticeContent.component.tsx
  frontend/src/views/components/PrivacyBanner/NoticeContent/index.ts
  frontend/src/views/components/PrivacyBanner/PrivacyBanner.component.tsx
  frontend/src/views/components/PrivacyBanner/PrivacyBanner.container.ts
  frontend/src/views/components/PrivacyBanner/index.ts
  frontend/src/views/layouts/embed.tsx
  frontend/src/views/layouts/fullscreen.tsx
  frontend/src/views/layouts/main.tsx
  frontend/src/views/layouts/report.tsx
  frontend/src/views/styles/_mixins.scss
  frontend/src/views/styles/index.scss
  frontend/src/views/styles/modules/_buttons.scss
  frontend/src/views/styles/modules/_m-privacy-banner.scss
Labels: frontend

#125 fixed an issue where analysis was not working for some layers
  frontend/cypress/e2e/map.cy.js
  frontend/src/views/components/Map/Map.component.jsx
Labels: frontend

#124 Replaced sendgrid with sparkpost
  backend/.env.sample
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/environments/development.rb
  backend/config/environments/production.rb
  backend/config/initializers/sparkpost_rails.rb
Labels: backend

#127 setting up the production server for client app
  frontend/config/deploy/production.rb
  frontend/src/state/utils/api.ts
  frontend/src/utilities/getSubdomain.ts
Labels: frontend

#122 Update journeys with the new API
  frontend/.env.example
  frontend/README.md
  frontend/cypress/e2e/journeys-detail.cy.js
  frontend/cypress/e2e/journeys.cy.js
  frontend/cypress/support/commands.js
  frontend/docker-compose.yml
  frontend/src/state/modules/journey/reducer.js
  frontend/src/state/modules/journeys/actions.js
  frontend/src/types/journeys.d.ts
  frontend/src/types/static-journeys.d.ts
  frontend/src/utilities/hooks/useAxios.js
  frontend/src/views/components/Journey/Chapter/component.tsx
  frontend/src/views/components/Journey/Conclusion/component.tsx
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Embed/Embed.container.js
  frontend/src/views/components/Journey/Journey.component.tsx
  frontend/src/views/components/Journey/Landing/component.tsx
  frontend/src/views/components/JourneysIntrolist/JourneysIntrolist.component.tsx
  frontend/src/views/styles/modules/_m-journey-embed.scss
Labels: frontend

#129 Add robots tag to prevent indexing
  frontend/src/types/journeys.d.ts
  frontend/src/views/components/Journey/Journey.component.tsx
Labels: frontend

#123 RA2-154: Fixing all security todos
  backend/app/admin/indicator.rb
  backend/app/controllers/api/v1/photos_controller.rb
  backend/app/models/pdf_file.rb
  backend/spec/requests/api/v1/photos_spec.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
Labels: backend

#116 RA2-145: Removing analytics_code attribute from SiteScope model
  backend/app/admin/site_scope.rb
  backend/app/models/site_scope.rb
  backend/app/serializers/site_scope_serializer.rb
  backend/db/migrate/20230324132712_remove_analytics_code_from_site_scopes.rb
  backend/db/schema.rb
  backend/spec/factories/site_scopes.rb
  backend/spec/fixtures/snapshots/api/v1/get_site_scope.json
  backend/spec/fixtures/snapshots/api/v1/models.json
  backend/spec/fixtures/snapshots/api/v1/site_scopes.json
  backend/swagger/v1/swagger.yaml
Labels: backend, on hold

#109 RA2-132: Admin Layer form
  backend/app/admin/layer.rb
  backend/app/assets/stylesheets/admin/has_many_collapsable.css.scss
  backend/app/javascript/active_admin.js
  backend/app/javascript/admin/checkbox_dependency.js
  backend/app/javascript/admin/has_many_dynamic_fields.js
  backend/app/javascript/admin/label_functions.js
  backend/app/javascript/admin/select_dependency.js
  backend/app/models/layer.rb
  backend/app/views/admin/journeys/_field_section.html.slim
  backend/app/views/admin/journeys/_form.html.slim
  backend/app/views/admin/layers/_form.html.slim
  backend/spec/factories/layers.rb
  backend/spec/fixtures/snapshots/api/admin/create_layer.json
  backend/spec/fixtures/snapshots/api/admin/delete_layer.json
  backend/spec/fixtures/snapshots/api/admin/get_layer.json
  backend/spec/fixtures/snapshots/api/admin/layers.json
  backend/spec/fixtures/snapshots/api/admin/update_layer.json
  backend/spec/fixtures/snapshots/api/v1/layers.json
  backend/spec/models/layer_spec.rb
  backend/spec/systems/admin/layers_spec.rb
Labels: backend, on hold
