Repository ConservationInternational/resilienceatlas, pull requests merged in 2023-05, with the labels that each got.

#183 Infrastructure README, superseding previous readmes
  .github/workflows/titiler_cogs.yaml
  README.md
  cloud_functions/titiler_cogs/aws_resources_for_titiler_cogs.md
  cloud_functions/titiler_cogs/dev_readme.md
  infrastructure/README.md
  infrastructure/base/variables.tf
Labels: infrastructure

#172 RA2-216: Adding timeline attributes to Layer (model, API, backoffice)
  backend/app/admin/layer.rb
  backend/app/controllers/api/admin/layers_controller.rb
  backend/app/models/layer.rb
  backend/app/serializers/layer_serializer.rb
  backend/app/views/admin/layers/_form.html.slim
  backend/db/migrate/20230426132503_add_timeline_to_layers.rb
  backend/db/schema.rb
  backend/spec/factories/layers.rb
  backend/spec/fixtures/snapshots/api/admin/create_layer.json
  backend/spec/fixtures/snapshots/api/admin/delete_layer.json
  backend/spec/fixtures/snapshots/api/admin/get_layer.json
  backend/spec/fixtures/snapshots/api/admin/layers.json
  backend/spec/fixtures/snapshots/api/admin/update_layer.json
  backend/spec/fixtures/snapshots/api/v1/layers.json
  backend/spec/models/layer_spec.rb
  backend/spec/requests/api/admin/layers_spec.rb
  backend/spec/systems/admin/layers_spec.rb
Labels: backend

#184 Fix a crash when navigating the Madagascar journey
  frontend/src/state/modules/layers/selectors.js
Labels: frontend

#185 Allow the user to update their profile
  frontend/src/pages/_app.tsx
  frontend/src/pages/me.tsx
  frontend/src/pages/profile-settings.tsx
  frontend/src/state/modules/user/actions.ts
  frontend/src/state/modules/user/reducer.js
  frontend/src/state/modules/user/selectors.js
  frontend/src/views/components/EditProfileForm/EditProfileForm.component.tsx
  frontend/src/views/components/EditProfileForm/EditprofileForm.container.js
  frontend/src/views/components/ProfileSettingsForm/ProfileSettingsForm.component.jsx
  frontend/src/views/components/ProfileSettingsForm/ProfileSettingsForm.container.js
  frontend/src/views/styles/modules/m-user-form.scss
Labels: frontend

#189 Remove NEXT_PUBLIC_STATIC_JOURNEYS feature tag
  frontend/.env.example
  frontend/README.md
  frontend/docker-compose.yml
  frontend/public/static-journeys/1.json
  frontend/public/static-journeys/2.json
  frontend/public/static-journeys/3.json
  frontend/public/static-journeys/4.json
  frontend/public/static-journeys/5.json
  frontend/public/static-journeys/journeysPageIndex.json
  frontend/src/state/modules/journey/reducer.js
  frontend/src/state/modules/journeys/actions.js
  frontend/src/types/static-journeys.d.ts
  frontend/src/views/components/Journey/Chapter/component.tsx
  frontend/src/views/components/Journey/Conclusion/component.tsx
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Embed/Embed.container.js
  frontend/src/views/components/Journey/Journey.component.tsx
  frontend/src/views/components/Journey/Landing/component.tsx
  frontend/src/views/components/Journey/StaticControls.tsx
  frontend/src/views/components/JourneySlider/JourneySlider.component.tsx
  frontend/src/views/components/JourneysIntrolist/JourneysIntrolist.component.tsx
  frontend/src/views/styles/modules/_m-slider.scss
Labels: frontend

#194 feat: Adding new attributes to Layer model - analysis_type
  backend/app/admin/layer.rb
  backend/app/models/layer.rb
  backend/app/serializers/layer_serializer.rb
  backend/app/views/admin/layers/_form.html.slim
  backend/db/migrate/20230505072311_remove_timeline_overlap_from_layer.rb
  backend/db/migrate/20230505085906_add_analysis_type_to_layer.rb
  backend/db/schema.rb
  backend/spec/factories/layers.rb
  backend/spec/fixtures/snapshots/api/admin/create_layer.json
  backend/spec/fixtures/snapshots/api/admin/delete_layer.json
  backend/spec/fixtures/snapshots/api/admin/get_layer.json
  backend/spec/fixtures/snapshots/api/admin/layers.json
  backend/spec/fixtures/snapshots/api/admin/update_layer.json
  backend/spec/fixtures/snapshots/api/v1/layers.json
  backend/spec/models/layer_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/systems/admin/layers_spec.rb
Labels: backend

#193 Load site_scope layers for embed
  frontend/src/state/modules/layer_groups/actions.js
  frontend/src/state/modules/layer_groups/reducer.js
  frontend/src/state/modules/layers/actions.js
  frontend/src/state/modules/layers/reducer.js
  frontend/src/state/modules/layers/selectors.js
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Embed/Embed.container.js
  frontend/src/views/components/Map/Map.component.tsx
Labels: frontend

#195 Stop using info attribute
  frontend/src/state/modules/layers/selectors.js
  frontend/src/state/modules/predictive_models/selectors.js
  frontend/src/state/schema.js
  frontend/src/views/components/AnalysisPanel/AnalysisContent/LayerAnalysis.component.jsx
  frontend/src/views/components/InfoWindow.jsx
  frontend/src/views/components/LayersList/Layer/Layer.component.jsx
  frontend/src/views/components/Legend/Legend.component.jsx
  frontend/src/views/shared/Widgets/WidgetBarChart.jsx
Labels: frontend

#196 Added public Cache-Control header
  cloud_functions/titiler_cogs/titiler_cogs/app.py
Labels: infrastructure

#203 Display COG layers in map and allow interaction
  frontend/src/state/schema.js
  frontend/src/views/components/Map/Map.component.tsx
  frontend/src/views/components/Map/MapPopup/LayerPopup/LayerPopup.jsx
Labels: frontend

#204 Add a datepicker component
  frontend/package.json
  frontend/public/images/icon-calendar.svg
  frontend/src/views/layouts/_icons.jsx
  frontend/src/views/layouts/main.tsx
  frontend/src/views/shared/datepicker/component.tsx
  frontend/src/views/shared/datepicker/index.ts
  frontend/src/views/shared/datepicker/types.ts
  frontend/src/views/styles/index.scss
  frontend/src/views/styles/modules/_m-datepicker.scss
  frontend/yarn.lock
Labels: frontend

#206 RA2-231-COG-analysis
  frontend/src/utilities/helpers.js
  frontend/src/utilities/hooks/useWidget.js
  frontend/src/views/components/AnalysisPanel/AnalysisContent/LayerAnalysis.component.jsx
  frontend/src/views/shared/Widgets/CustomTooltip.jsx
  frontend/src/views/shared/Widgets/WidgetBarChart.jsx
  frontend/src/views/shared/Widgets/WidgetCategoricalChart.jsx
  frontend/src/views/styles/modules/_m-widget.scss
Labels: frontend

#208 Feature/RA2-237-timeline
  frontend/cypress/e2e/journeys-detail.cy.js
  frontend/cypress/e2e/unit/unit.cy.js
  frontend/package.json
  frontend/src/state/modules/layers/actions.js
  frontend/src/state/modules/layers/reducer.js
  frontend/src/state/modules/layers/selectors.js
  frontend/src/state/modules/layers/utils.js
  frontend/src/state/schema.js
  frontend/src/types/layer.d.ts
  frontend/src/utilities/helpers.js
  frontend/src/views/components/Journey/Embed/Embed.component.jsx
  frontend/src/views/components/Journey/Embed/Embed.container.js
  frontend/src/views/components/Legend/Legend.component.jsx
  frontend/src/views/components/Legend/Legend.container.js
  frontend/src/views/components/Legend/LegendTimeline/LegendTimeline.component.tsx
  frontend/src/views/components/Legend/LegendTimeline/LegendTimeline.tsx
  frontend/src/views/components/Legend/LegendTimeline/index.ts
  frontend/src/views/components/Map/Map.component.tsx
  frontend/src/views/components/Map/Map.hooks.tsx
  frontend/src/views/components/Map/types.d.ts
  frontend/src/views/styles/modules/_m-legend.scss
Labels: frontend

#212 Get published attribute server side
  frontend/src/pages/_app.tsx
  frontend/src/pages/journeys/[id]/step/[step].tsx
  frontend/src/state/modules/journeys/actions.js
  frontend/src/views/components/Journey/Journey.component.tsx
Labels: frontend

#215 Fix visual conflict between the privacy notice and the map tour
  frontend/src/views/styles/modules/_m-map-tour.scss
  frontend/src/views/styles/modules/_m-privacy-banner.scss
Labels: frontend
